// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

@import url('https://pattern-lab-systest.apps.comicrelief.com/css/themes/cr/2017/cr17.css');

.button {
    display: inline-block !important;
    width: auto !important;
    margin: 0 auto !important;
    padding: 23px 40px 19px  !important;
    cursor: pointer  !important;
    -webkit-transition: 0.3s all  !important;
    -o-transition: 0.3s all  !important;
    transition: 0.3s all  !important;
    text-align: center !important;
    vertical-align: middle  !important;
    text-decoration: none  !important;
    letter-spacing: 1.8px  !important;
    text-transform: uppercase  !important;
    border: none  !important;
    font-family: "Sailec-Bold",sans-serif  !important;
    font-size: 18px  !important;
    line-height: 18px  !important;
    border-radius: 30px  !important;
    background-clip: padding-box  !important;
    color: #fff !important;
    background-color: #ea0043 !important;
}

a:visited {
  color: #fff !important;
}

p {
  padding: 0 !important;
  font-family: "Sailec-Regular",sans-serif !important;
  font-size: 18px !important;
  line-height: 29px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sailec-Regular",sans-serif !important;
}

.header-global {
  display:none !important;
}

#global-header, .header-wrapper {
  background-color: #ea0043 !important;
}

.multiple-choice label {
  padding-left: 40px !important;
  padding-top: 4px  !important;
}

.multiple-choice [type=radio] + label::after {
  top: 7px !important;
  left: 7px !important;
}
