{% extends "layout.html" %} {% block page_title %} Are you elegible for a smart grant? {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Smart grants title</h1>
            <p>This is some copy that explains what is the grant that you are applying to</p>
            <p>Before applying is very important that you answer few questions that validate if you are eligible</p>
            <p>
                <a class="btn btn--red" href="/grant/question-one" role="button">Start now</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}
