{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Comic Relief Grants
        <span class="heading-secondary">How can we help you to get funding</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is a prototype to help you undestrand if you are elegible for grants
      </p>

      <p>
        <a class="btn btn--red" href="/grant" class="button">
          Apply for the "Smart Grant"
        </a>
      </p>

      <p>
        Not sure? Still have more questions? You
        <a class="js-open-chat" href="#">
          chat directly with our staff
        </a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
