{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        ComicRelief Grants
        <span class="heading-secondary">How can we help you to get funding</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is a prototype to help you undestrand if you are elegible for grants
      </p>

      <p>
				<a href="/grant" class="button button-start">
					Apply for the "Smart Grant"
				</a>
			</p>

			<p>
				<a href="javascript:alert('bot')">
					Still have more questions
				</a>
			</p>

    </div>
  </div>
</main>

{% endblock %}


