{% extends "layout.html" %} {% block page_title %} Are you elegible for a smart grant? {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Smart grants title</h1>
            <div class="current-question" id="current-question">

                <div class="question">
                    <h2 class="heading-large">
                        Unfortunately we can't accept your application
                    </h2>

                    <p>
                        Your can read more about our process reading our
                        <a href="https://www.comicrelief.com/funding/applying-for-grants/guidance">
                            Guidance on applying for a grant
                        </a>
                        guide
                    </p>

                    <p>
                        Not sure? Still have more questions? You 
                        <a class="js-open-chat" href="#">
                            chat directly with our staff
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}